@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald:wght@300&family=Quicksand:wght@300;600&family=Roboto:ital@1&display=swap');
/* *{
    background-color: rgb(209, 205, 192);
} */


.typing::after{
    content: " ";
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.intro2{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    /* border: 2px solid red; */
    width: 70%;
    margin-left: 110px;
}
.intrologo{
    margin-top:20px;
    /* border: 2px solid red; */
    /* margin-left: 320px; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intrologo img:hover{
    cursor: pointer;
    opacity: 0.7;
}
.linkedin{
    border-radius: 50%;

    width: 95px;
    height: 95px;
    border: 5px solid black;


}
.github{
    border-radius: 50%;

    width: 95px;
    height: 95px;
    border: 5px solid black;


}
.instagram{ 
    border-radius: 50%;

    width: 95px;
    height: 95px;
    border: 5px solid black;


}
.chesscom{
    border-radius: 50%;
    /* border-color: black; */
    border: 5px solid black;
    width: 95px;
    height: 95px;

}
.lichess{
    border-radius: 50%;

    border: 5px solid black;

    width: 95px;
    height: 95px;

}

.foot-of-logo a{
 text-decoration: none;
 color: black; 
 font-size: 24px;  
}
.foot-of-logo a:hover{
   color: rgb(85, 85, 79); 
   }
  