*{
  user-select: none;
}
body{
    height: 100%;
    /* background-color: black; */
}
.main-head{
    /* position: fixed; */
    /* border:  3px solid red; */
    display: flex;
    overflow: hidden;
    justify-content: space-between;
  background-color: rgb(2, 1, 1);
margin-bottom: 233px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* height: 77px; */
  width: 100%;
}
.logo{
    /* border:  3px solid black; */
    margin: 12px 12px;

    /* border-radius: 25%; */
}
.navbar   {
    font-family: sans-serif;
    /* position: relative; */
    border-radius: 22px;
    /* margin-left: 750px;g */
    /* width: 360px; */
    margin-bottom: 23px;
    margin-top: 12px;
    margin-right: 12px;
    display: flex;
    list-style: none;
    /* border:  3px solid blue; */

}
.navbar a li{
    margin: 12px 12px;
    font-size: 19px;

}
.navbar a{
    color: rgb(231, 184, 184);
    font-size: 24px;
    text-decoration: none;
}
.navbar a:hover
{text-decoration: underline; 
    color: rgb(219, 189, 16);
}
.logo img{
    position: fixed;
    width: 55px;
    height: 55px;
}

.active{
    color: rgb(219, 189, 16);

    text-decoration: underline;
}
.menu1{
    margin-top: 20px ;
    width: 70px;
    height: 65px;
    /* border: 2px solid red; */
    
}
.menu1 img{
    cursor: pointer;
}
.typing::after{
    content: " ";
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.my-intro{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myphoto{
    /* border: 2px solid blue ; */
    padding: 12px 12px;
}
.myphoto img{
    border:  5px solid black;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.intro-box{
    border: 2px solid rgb(27, 27, 26);
    border-radius: 12px;
    font-size: 25px;
    padding: 12px 12px;
   
    
}
.intro-box h1{
    font-family: Arial, Helvetica, sans-serif;
}
.intro-box li,p{
   font-family: monospace;
}
.intro-box a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
}
.intro-box a:hover{
    text-decoration: underline;
}
.footer{
    /* width: 100%; */
    margin-top: 150px;
    /* border: 2px solid black; */
    /* padding: 23px 23px; */
    align-items: center;
    display: block;
}
.img-box {
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
}
.img-box img{
    
    margin : 12px 12px;
    /* border: 2px solid blue; */
    border-radius: 50%;
    border: 2px solid black;
    width: 45px;
    height: 45px;
}

.img-box img:hover{
    opacity: 0.7;
}
.copyright{
    display: flex;
    justify-content: center;
    font-size: 24px;
    /* border: 2px solid blue; */
    width: 100%;

}
#admin{
    color: rgb(3, 24, 0);
   
    font-weight: bold;
}
.footer a{
    
    text-decoration: none;

}

 
