@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald:wght@300&family=Quicksand:wght@300;600&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald:wght@300&family=Quicksand:wght@300;600&family=Roboto+Mono:wght@300&family=Roboto:ital@1&display=swap');
/* *{
    user-select: none;
} */
@media (min-width : 0px) and (max-width : 209px)
{
    *{
        display: none;
    }
}
@media (min-width : 210px) and (max-width : 249px)
{
    /* .logo img {
        position: fixed;
        width: 55px;
        height: 55px;
    } */
    .navbar{
        margin-left: 30px;
        width: 100px;
        visibility: hidden;
    }
    .resp{
        position: relative;
        border-radius: 22px;
        margin-left: 34px;
        width: 160px;
        margin-bottom: 23px;
        margin-top: 12px;
        margin-right: 12px;
        display: block;
        list-style: none;
        /* border:  3px solid blue; */
    }
    .resp a li{
        margin: 12px 12px;
    }
    .resp a{
        color: rgb(231, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }
    .resp a:hover
    {text-decoration: underline; font-size: 25px;
        color: rgb(219, 189, 16);
    }
    .intro1{
        text-align: center;
          margin-top: 185px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 14px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 50px;
        height: 50px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       margin-left: 38px;
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        margin-right: 32px;
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
}

@media (min-width : 250px) and (max-width : 300px)
{
    
    .navbar{
        margin-left: 80px;
        width: 100px;
        visibility: hidden;
    }
    .resp{
        position: relative;
        border-radius: 22px;
        margin-left: 80px;
        width: 160px;
        margin-bottom: 23px;
        margin-top: 12px;
        margin-right: 2px;
        display: block;
        list-style: none;
        /* border:  3px solid blue; */
    }
    .resp a li{
        margin: 12px 12px;
    }
    .resp a{
        color: rgb(231, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }
    .resp a:hover
    {text-decoration: underline; font-size: 25px;
        color: rgb(219, 189, 16);
     }
    .intro1{
        text-align: center;
          margin-top: 185px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 14px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 50px;
        height: 50px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       margin-left: 50px;
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        margin-right: 40px;
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
    
}
@media only screen and (min-width : 301px) and (max-width : 350px)
{
    
    .navbar{
        margin-left: 125px;
        width: 100px;
        visibility: hidden;
    }
    .resp{
        position: relative;
        border-radius: 22px;
        margin-left: 80px;
        width: 160px;
        margin-bottom: 23px;
        margin-top: 12px;
        margin-right: 12px;
        display: block;
        list-style: none;
        /* border:  3px solid blue; */
    }
    .resp a li{
        margin: 12px 12px;
    }
    .resp a{
        color: rgb(231, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }
    .resp a:hover
    {text-decoration: underline; font-size: 25px;
        color: rgb(219, 189, 16);
    }
    .intro1{
        text-align: center;
          margin-top: 190px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 66px;
        height: 66px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       margin-left: 38px;
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        margin-right: 32px;
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
}
@media only screen and (min-width : 351px) and (max-width : 380px)
{
    .navbar{
        margin-left: 175px;
        width: 100px;
        visibility: hidden;
    }
    .resp{
        position: relative;
        border-radius: 22px;
        margin-left: 130px;
        width: 160px;
        margin-bottom: 23px;
        margin-top: 12px;
        margin-right: 20px;
        display: block;
        list-style: none;
        /* border:  3px solid blue; */
    }
    .resp a li{
        margin: 12px 12px;
    }
    .resp a{
        color: rgb(231, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }
    .resp a:hover
    {text-decoration: underline; font-size: 25px;
        color: rgb(219, 189, 16);
    }
    .intro1{
        text-align: center;
          margin-top: 190px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 72px;
        height: 72px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       margin-left: 50px;
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        margin-right: 50px;
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
}
@media only screen and (min-width : 381px) and (max-width : 425px)
{
    .navbar{
        margin-left: 204px;
        width: 100px;
        visibility: hidden;
    }
   
    .resp{
        position: relative;
        border-radius: 22px;
        margin-left: 160px;
        width: 160px;
        margin-bottom: 23px;
        margin-top: 12px;
        margin-right: 20px;
        display: block;
        list-style: none;
        /* border:  3px solid blue; */
    }
    .resp a li{
        margin: 12px 12px;
    }
    .resp a{
        color: rgb(231, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }
    .resp a:hover
    {text-decoration: underline; font-size: 25px;
        color: rgb(219, 189, 16);
    }

    .intro1{
        text-align: center;
          margin-top: 190px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 72px;
        height: 72px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       margin-left: 50px;
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        margin-right: 50px;
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
}
@media only screen and (min-width : 426px) and (max-width : 440px)
{
    .navbar{
        margin-left: 223px;
        width: 100px;
        visibility: hidden;
    }
    
    .resp{
        position: relative;
        border-radius: 22px;
        margin-left: 150px;
        width: 160px;
        margin-bottom: 23px;
        margin-top: 12px;
        margin-right: 20px;
        display: block;
        list-style: none;
        /* border:  3px solid blue; */
    }
    .resp a li{
        margin: 12px 12px;
    }
    .resp a{
        color: rgb(231, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }
    .resp a:hover
    {text-decoration: underline; font-size: 25px;
        color: rgb(219, 189, 16);
    }
    .intro1{
        text-align: center;
          margin-top: 190px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 62px;
        height: 62px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       /* margin-left: 50px; */
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        /* margin-right: 50px; */
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
}
@media only screen and (min-width : 441px) and (max-width : 458px)
{
    .navbar{
        margin-left: 220px;
        width: 100px;
        visibility: hidden;
    }
    
    .resp{
        position: relative;
        border-radius: 22px;
        margin-left: 150px;
        width: 160px;
        margin-bottom: 23px;
        margin-top: 12px;
        margin-right: 28px;
        display: block;
        list-style: none;
        /* border:  3px solid blue; */
    }
    .resp a li{
        margin: 12px 12px;
    }
    .resp a{
        color: rgb(231, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }
    .resp a:hover
    {text-decoration: underline; font-size: 25px;
        color: rgb(219, 189, 16);
    }
    .intro1{
        text-align: center;
          margin-top: 190px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 62px;
        height: 62px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       /* margin-left: 50px; */
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        /* margin-right: 50px; */
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
    
}
@media only screen and (min-width : 459px) and (max-width : 480px)
{
    .navbar{
        margin-left: 215px;
        width: 100px;
        visibility: hidden;
    }
    
    .resp{
        position: relative;
        border-radius: 22px;
        margin-left: 145px;
        width: 160px;
        margin-bottom: 23px;
        margin-top: 12px;
        margin-right: 28px;
        display: block;
        list-style: none;
        /* border:  3px solid blue; */
    }
    .resp a li{
        margin: 12px 12px;
    }
    .resp a{
        color: rgb(231, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }
    .resp a:hover
    {text-decoration: underline; font-size: 25px;
        color: rgb(219, 189, 16);
    }
    .intro1{
        text-align: center;
          margin-top: 190px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 62px;
        height: 62px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       /* margin-left: 50px; */
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        /* margin-right: 50px; */
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
    
}

@media only screen and (min-width : 481px) and (max-width : 560px)
{
    #menuid{
        display: none;
    }
    #main-nav{
        margin-left: 44px;
    }
    #first-intro{
        font-size: 55px;
    }
    .intro1{
        text-align: center;
          margin-top: 90px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 62px;
        height: 62px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       /* margin-left: 50px; */
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        /* margin-right: 50px; */
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
    
   
      
}
@media only screen and (min-width : 561px) and (max-width : 700px)
{
    #menuid{
        display: none;
    }
    #main-nav{
        margin-left: 50px;
    }
    #first-intro{
        font-size: 55px;
    }
    .intro1{
        text-align: center;
          margin-top: 90px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 62px;
        height: 62px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       /* margin-left: 50px; */
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        /* margin-right: 50px; */
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
    
}
@media only screen and (min-width : 701px) and (max-width : 800px)
{
    #menuid{
        display: none;
    }
    #main-nav{
        margin-left: 90px;
        /* justify-content: left; */
    }
    .intro1{
        text-align: center;
          margin-top: 80px;
          margin-left: 3px;
          /* border: 2px solid firebrick; */
          /* width: 100%; */
          display: flex;
          flex-direction: column;
      }
      .name-at-top{
          font-size: 20px;
          /* border: 2px solid blue; */
          
      }
      .head-of-me{
          /* border: 2px solid red; */
          margin-top: 50px;
          font-size: 18px;
      }
      .intro2{
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        /* border: 2px solid red; */
        width: 90%;
        margin-left: 5px;
    }
    .intrologo{
        margin-top:20px;
        /* border: 2px solid blue; */
        /* margin-left: 320px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .intrologo img{
        width: 62px;
        height: 62px;
    }
   
    .linkedin{
        border-radius: 50%;
    
   
        border: 5px solid black;
    
    
    }
    .github{
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .instagram{ 
        border-radius: 50%;
    
       
        border: 5px solid black;
    
    
    }
    .chesscom{
        border-radius: 50%;
        /* border-color: black; */
        border: 5px solid black;
       /* margin-left: 50px; */
    
    }
    .lichess{
        border-radius: 50%;
    
        border: 5px solid black;
    
        /* margin-right: 50px; */
    }
    .foot-of-logo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 23px;
    }
    .foot-of-logo a{
        /* margin-top : 23px; */
     text-decoration: none;
     color: black; 
     font-size: 20px;  
    }
    .foot-of-logo a:hover{
       color: rgb(85, 85, 79); 
       }
    
}
@media only screen and (min-width : 801px) and (max-width : 1400px)
{
    #menuid{
        display: none;
    }
#main-nav{
    /* z-index: -1; */
    margin-left: 200px;

   
    font-family: 'Roboto Mono', monospace;
}
#first-intro{
    font-size: 80px;
}
.intro1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
      margin-top: 80px;
      margin-left: 50px;
      /* border: 2px solid firebrick; */
      width: 77%;
      display: flex;
      flex-direction: column;
  }
  /* .name-at-top{
      border: 2px solid blue;
      
  } */
  .head-of-me{
      /* border: 2px solid red; */
      margin-top: 50px;
      font-size: 26px
  }
}
@media only screen and (min-width : 1401px) and (max-width : 1800px)
{
    #menuid{
        display: none;
    }
    #main-nav{
        margin-left: 700px;
    }
}
@media only screen and (min-width : 1801px) and (max-width : 1900px)
{
    #menuid{
    display: none;
}
#main-nav{
    margin-left: 900px;
}
}
@media only screen and (min-width : 1901px) and (max-width : 2000px)
{
    #menuid{
        display: none;
    }
    #main-nav{
        margin-left: 1000px;
    }
}
@media only screen and (min-width : 2001px) 
{
    *{
        display: none;
    }
    #menuid{
        display: none;
    }
    #main-nav{
        
        margin-left:1300px;
    }
}
