@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald:wght@300&family=Quicksand:wght@300;600&family=Roboto:ital@1&display=swap');
/* *{
    background-color: rgb(209, 205, 192);
} */
body{
    height: 1111px;
    /* background-color: black; */
}
.main-head{
    /* position: fixed; */
    /* border:  3px solid red; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  background-color: rgb(12, 10, 10);
margin-bottom: 233px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* height: 77px; */
}
.logo{
    /* border:  3px solid black; */
    margin: 12px 12px;

    /* border-radius: 25%; */
}
.navbar   {
    font-family: sans-serif;
    /* font-size: 5px; */
    /* font-family: 'Roboto Mono', monospace; */
    /* position: relative; */
    border-radius: 22px;
    /* margin-left: 750px; */
    /* width: 360px; */
    margin-bottom: 23px;
    margin-top: 12px;
    /* margin-right: 12px; */
    display: flex;
    list-style: none;
    /* border:  3px solid blue; */

}
.navbar a li{
    margin: 12px 12px;
    font-size: 19px;
}
.navbar a{
    color: rgb(231, 184, 184);
    font-size: 24px;
    text-decoration: none;
}
.navbar a:hover
{text-decoration: underline; 
    color: rgb(219, 189, 16);
}
.logo img{
    position: fixed;
    width: 55px;
    height: 55px;
}
.active{
    color: rgb(219, 189, 16);
    font-size: 25px;
    text-decoration: underline;
}
.menu1{
    margin-top: 20px ;
    width: 70px;
    height: 65px;
    /* border: 2px solid red; */
    
}
.menu1 img{
    cursor: pointer;
}
.typing::after{
    content: " ";
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.intro2{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    /* border: 2px solid red; */
    width: 70%;
    margin-left: 110px;
}
.intrologo{
    margin-top:20px;
    /* border: 2px solid red; */
    /* margin-left: 320px; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intrologo img:hover{
    cursor: pointer;
    opacity: 0.7;
}
.linkedin{
    border-radius: 50%;

    width: 95px;
    height: 95px;
    border: 5px solid black;


}
.github{
    border-radius: 50%;

    width: 95px;
    height: 95px;
    border: 5px solid black;


}
.instagram{ 
    border-radius: 50%;

    width: 95px;
    height: 95px;
    border: 5px solid black;


}
.chesscom{
    border-radius: 50%;
    /* border-color: black; */
    border: 5px solid black;
    width: 95px;
    height: 95px;

}
.lichess{
    border-radius: 50%;

    border: 5px solid black;

    width: 95px;
    height: 95px;

}
/* .foot-of-logo{
border: 2px solid black;
float: right;
width: 60%;
} */
.foot-of-logo a{
 text-decoration: none;
 color: black; 
 font-size: 24px;  
}
.foot-of-logo a:hover{
   color: rgb(85, 85, 79); 
   }
